**/target/
##############################
## Java
##############################
.mtj.tmp/
#*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
##############################
## IntelliJ
##############################
out/
.idea_modules/
*.iml
*.ipr
*.iws
*/.idea/
.idea/

# Fișiere obiect
*.o

# Executabile
*.exe
*.out

# Fisiere intermediare si directoare de build generate de compilator
*.dSYM/
*.stackdump
build/
Debug/
Release/
x64/
x86/
bin/
obj/
ipch/
*.aps
*.ncb
*.suo
*.opensdf
*.opendb
*.sdf
*.vcxproj.user
# Fișiere generale Visual Studio
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.exp
*.lib
*.idb
*.pdb
*.ipch
*.obj
*.log
*.tlog
*.lastbuildstate
*.sbr
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.manifest
*.vspscc
*.vssscc
*.psess
*.userprefs
*.projdata
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.backup
*.VC.VC.db.bak
*.VC.VC.db.lock
*.VC.VC.db.nopenbak
*.VC.VC.db.nclock
*.VC.VC.db.ncopenbak
*.VC.VC.opendb.nclock
*.VC.VC.opendb.ncopenbak

# Foldere Visual Studio
[Tt]emp/
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]rm/
[Aa]rm64/
[Oo]ut/
